<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Greeting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Bootstrap links -->
	<link th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet"/>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
	 
</head>
<body>
	<div class = "container">
		<h1>Task 2</h1>
		<h3 th:text="'Hello, ' + ${name} + '!'" />
		<p><a href="/home">Home page</a></p>
	
	</div>
</body>
</html>